body{
    margin:0;
    padding:0;
    background:#ccc;
    font-family:Arial;

}
.navbar ul {
    list-style: none;
    background: #291ebd;
    padding:0;
    margin:0;
    text-align: right;
}
.navbar li{
    display: inline-block;
}
.navbar a {
    text-decoration: none;
    color:#fff;
    width: 80px; 
    display: block;
    padding: 25px 20px; 
    text-transform: uppercase;
    font-weight:bold ;
    font-family: arial;
    text-align: center;
    font-size: 14px;
}
.navbar a:hover{
    background:#353640 ;
}
#emri
{
background-color:white;
width: 200px;
height: 100px;
opacity:0.8;

}
#logo
{
width:200px;
height: 100px;
border-radius:35px;
float:center;
}






